.container {
  margin-top: 50px;
}
/* .jumbotron {

  margin-top: 50px;
  align-items: center;
  background: url(../assets/images/clube_dotz.jpg);
  height: 380px;
  position: relative;
  background-size: auto;
  background-size: cover;
}

.button-group {
  padding-left: 20px;
  position: relative;
  margin-top: 200px;
}

.button-yellow {
    background-color: #ffd64f;
    border-color: #ffd64f;
    width: 360px !important;
    float: left;
    margin-left: 100px;
    padding: 10px 20px;
    color: #00548c;
    font-weight: bold;
    font-size: large;
    white-space: initial;
    border-radius: 200px;
    -ms-border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;
    width: 50%;
    margin: auto;
    text-align: center;
} */
